# Ignore executables (files with no extension)
# Note: This works best if your source files always have .c extensions
basics
pointers
structs
swap
linkedlist
# Ignore debug symbols (macOS)
*.dSYM/

# Ignore editor settings
.vscode/